<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="./js/echarts.min.js"></script>
    <script src="./js/jquery-3.2.1.min.js"></script>

</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 600px;height:400px;
position: absolute;
top: 50%;
left: 50%;
margin-left: -300px;
margin-top: -200px"></div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var datas = [];

    function addData () {
        $.ajax({
            type: "POST",
            url: "clickCount",
            dataType: 'json',
            async: false,
            success: function (result) {
                console.log(result)
                for (var i = 0; i < result.length; i++){

                    // if (shift){
                    //     datas.shift();0
                    // }
                    datas.push({"value": result[i].value, "name": result[i].name});
                }
            }
        });
    }


    // 指定图表的配置项和数据
    option = {
        backgroundColor: '#2c343c',

        title: {
            text: '水果品类统计',
            left: 'center',
            top: 20,
            textStyle: {
                color: '#ccc'
            }
        },

        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },

        visualMap: {
            show: false,
            min: 80,
            max: 600,
            inRange: {
                colorLightness: [0, 1]
            }
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: '55%',
                center: ['50%', '50%'],
                data: datas
                .sort(function (a, b) { return a.value - b.value; }),
                roseType: 'radius',
                label: {
                    color: 'rgba(255, 255, 255, 0.3)'
                },
                labelLine: {
                    lineStyle: {
                        color: 'rgba(255, 255, 255, 0.3)'
                    },
                    smooth: 0.2,
                    length: 10,
                    length2: 20
                },
                itemStyle: {
                    color: '#c23531',
                    shadowBlur: 200,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                },

                animationType: 'scale',
                animationEasing: 'elasticOut',
                animationDelay: function (idx) {
                    return Math.random() * 200;
                }
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    setInterval(function () {
        addData();
        myChart.setOption(option);
        var length = datas.length
        for (var i = 0; i < length; i++){
            //删除数组的第一个元素
            datas.shift();
        }
    },500);
</script>
</body>
</html>