<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/echarts.min.js"></script>
    <script src="./js/jquery-3.2.1.min.js"></script>
</head>

<body>
<div id="container">
    <div id="top">
        <ul class="menu">
            <li><a href="/liuliang">实时流量</a></li>
            <li><a href="/yingxiao">营销指标</a></li>
            <li><a href="">用户画像</a></li>
        </ul>
    </div>
    <div id="echarts">
        <div id="main_l">

        </div>
        <div id="main_r">

        </div>
        <div id="bar">

        </div>
    </div>

</div>

<script type="text/javascript">
    //PV
    var myChart = echarts.init(document.getElementById('main_l'));

    var funnelData = [];
    var valueData = [];

    function addDataFunnel() {
        $.ajax({
            type: "POST",
            url: "funnelPlot",
            dataType: 'json',
            async: false,
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    var funnelObj = {value : 0 ,name : 'blank'};
                    funnelObj.value = result[i].count
                    funnelObj.name = result[i].behavior
                    funnelData.push(funnelObj)
                }

                // //定义数组排序规则
                // function compare(prop) {
                //     return function (a,b){
                //         var value1 = a[prop];
                //         var value2 = b[prop];
                //         return value1 - value2;
                //     }
                // }
                // //将数组排序
                // funnelData.sort(compare('value'),false)
                // //计算各级数据百分比
                // funnelData[1].value = (funnelData[1].value / funnelData[0].value) * 100
                // funnelData[2].value = (funnelData[2].value / funnelData[1].value) * 100
                // funnelData[3].value = (funnelData[3].value / funnelData[2].value) * 100
                // funnelData[0].value = 100
                //
                // print(funnelData)
            }
        });
    }

    var colors = ['#5793f3', '#d14a61', '#675bba'];

    option1 = {
        title: {
            text: '今日|营销漏斗统计',
            subtext: 'titleStr'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} "
        },
        toolbox: {
            feature: {
                dataView: {readOnly: false},
                restore: {},
                saveAsImage: {}
            }
        },
        legend: {
            data: ['pv', 'cart', 'fav', 'buy']
        },
        series: [
            {
                name:'漏斗图',
                type:'funnel',
                left: '10%',
                top: 60,
                //x2: 80,
                bottom: 60,
                width: '80%',
                // height: {totalHeight} - y - y2,
                // min: 0,
                // max: 100,
                minSize: '0%',
                maxSize: '100%',
                sort: 'descending',
                gap: 2,
                label: {
                    show: true,
                    position: 'right',
                    // formatter: '{b}: {c}'
                },
                labelLine: {
                    length: 10,
                    lineStyle: {
                        width: 1,
                        type: 'solid'
                    }
                },
                itemStyle: {
                    borderColor: '#fff',
                    borderWidth: 1
                },
                emphasis: {
                    label: {
                        fontSize: 20
                    }
                },
                data: funnelData
            }
        ]
    };

    myChart.setOption(option1)

    // 使用刚指定的配置项和数据显示图表。
    setInterval(function () {
        addDataFunnel();
        myChart.setOption(option1);
        var length = funnelData.length
        for (var i = 0; i < length; i++) {
            //删除数组的第一个元素
            funnelData.shift();
        }
    }, 500);

    /**
     * 渠道分析
     */
    var myChart1 = echarts.init(document.getElementById('main_r'));

    var channelDatas = [];

    function addDataChannel() {
        $.ajax({
            type: "POST",
            url: "channelAnalysis",
            dataType: 'json',
            async: false,
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    var channelObj = {value : 0 ,name : 'blank'};
                    channelObj.value = result[i].value
                    channelObj.name = result[i].name
                    channelDatas.push(channelObj)
                }
            }
        });
    }

    option2 = {
        title: {
            text: '实时|营销渠道分析'
        },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b}: {c} ({d}%)'
        },
        legend: {
            orient: 'vertical',
            left: 10,
            top: 40,
            data: ['百度', '知乎', '抖音', '头条', '微信']
        },
        series: [
            {
                name: '营销渠道',
                type: 'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    label: {
                        show: true,
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                },
                labelLine: {
                    show: false
                },
                data: channelDatas
                //     [
                //     {value: 335, name: '直接访问'},
                //     {value: 310, name: '邮件营销'},
                //     {value: 234, name: '联盟广告'},
                //     {value: 135, name: '视频广告'},
                //     {value: 1548, name: '搜索引擎'}
                // ]
            }
        ]
    };

    myChart1.setOption(option2);
    // 使用刚指定的配置项和数据显示图表。
    setInterval(function () {
        addDataChannel();
        myChart1.setOption(option2);
        var length = channelDatas.length;
        for (var i = 0; i < length; i++) {
            //删除数组的第一个元素
            channelDatas.shift();
        }
    }, 500);

    //热门页面
    var myChart2 = echarts.init(document.getElementById('bar'));
    option3 = {
        title: {
            text: '热门页面'
        },
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [120, 200, 150, 80, 70, 110, 130],
            type: 'bar'
        }]
    };
    myChart2.setOption(option3);
</script>
</body>

</html>